# ignore the envr

*.venv
venv/

#ignore pycache
__pycache__/
*/__pycache__/

#ignore ppm diagnostic tools
ppm_test.txt
ppm.dat

#ignore observation images and raws
observations_img/*
observations_img
observations_raw/*
observations_raw/

#ignore secrets
secrets_email.py

#ignore local logs
output.log

#ignore test images
Acquired Background test.png